.post-page-container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  flex-direction: column;
  border: 0.5px solid lightgrey;
  text-align: left;
  position: relative;
}

.user-info {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.post-content {
  padding: 1rem;
  margin: 0;
}

.user-image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.add-comment {
  display: flex;
  padding: 1rem;
}

.add-comment svg {
  color: var(--primary);
}

.username-timestamp {
  margin-left: 1rem;
  text-align: left;
}

.username {
  margin: 0;
  font-weight: bolder;
}

.timestamp {
  margin: 0;
}

.edited-tag {
  color: gray;
  font-size: 0.7rem;
}

.comment-list {
  list-style: none;
}

.post-like {
  display: flex;
  align-items: center;
}

.post-liked {
  color: var(--primary);
}

.post-liked svg {
  color: var(--primary);
}

.like-count {
  margin-left: 1rem;
  margin-right: -0.5rem;
  font-weight: 700;
}

@media (min-width: 700px) {
  .post-page-container {
    width: 37.5rem;
    min-height: 100vh;
    margin: auto;
  }
}
