.homepage {
  width: 98vw;
  min-height: calc(100vh - 4.4rem);
}

.homepage-container {
  margin: auto;
  width: 100%;
  display: flex;
}

.posts-container {
  overflow-y: auto;
  display: inline-flex;
  flex-direction: column;
  margin: 1rem;
  width: 98%;
  height: 100%;
  overflow-x: hidden;
}

.people-you-may-know-container {
  display: none;
}

@media (min-width: 900px) {
  .people-you-may-know-container {
    display: inline-flex;
    margin: 1rem;
    flex: 2;
  }
  .posts-container {
    flex: 3.5;
  }
  .homepage-container {
    width: 80%;
  }
}
