.request-container {
  width: 100%;
  margin: auto;
}

.tab-style {
  background-color: var(--primary-background);
  color: var(--text-color);
}

@media (min-width: 700px) {
  .request-container {
    width: 70%;
  }
}
