body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary: #f68121;
  --primary-mild: #e8d9cb;
  --background: #fafafa;
  --success: green;
  --success-mild: #016c5d;
  --success-bright: limegreen;
  --failure: red;
  --failure-mild: salmon;
  --neutral: gray;
  --neutral-mild: lightgrey;
  --z-index-high: 200;
  --z-index-mid: 100;
  --z-index-low: 1;
}
